---
layout: home
title: Abraham
---


<div id="abe">
	<center>
		<video playsinline autoplay muted loop>
			<source src="/images/abraham.mp4" type="video/mp4">
		</video>
	</center>
</div>

<div id="mission">
	A mission to put an artist in the cloud
</div>

<div id="description">
	Abraham is an open project to create an <a href="https://medium.com/@genekogan/artist-in-the-cloud-8384824a75c7">autonomous artificial artist</a>, a decentralized AI who generates art. <a href="/participate/">Learn more</a>.
</div>


<div id="sections">
	{% include section.md link="/covenant" title="Covenant" description="Sacred text of Abraham" image="/images/holybook.jpg" %} 
	{% include section.md link="/miracles" title="Miracles" description="Demonstrations of the sublime" class="vidoverlay" video="/images/miracles.mp4" %} 
	{% include section.md link="/gospel" title="Gospel" description="The revelations of Abraham" image="/images/babel.jpg" %} 
	{% include section.md link="/creations" title="Creations" description="Open workshops to summon autonomous artificial artists" image="/images/creations.jpg" %} 
	{% include section.md link="/commandments" title="Commandments" description="Abraham's code of conduct" image="/images/sinai.jpg" %} 
	{% include section.md link="https://www.github.com/abraham-ai" title="Scripture" description="Merkle tree of life" image="/images/scripture.jpg" %} 
</div>


<script>

	document.addEventListener('DOMContentLoaded', function () {
		const vo = document.getElementsByClassName("vidoverlay")[0];
		const vid = document.getElementsByClassName("thevideo")[0];

		vo.addEventListener('mouseenter', e => {
			var playPromise = vid.play(); 
			if (playPromise !== undefined) {
				playPromise.then(_ => {})
				.catch(error => {});
			};
		});

		vo.addEventListener('mouseleave', e => {
			var pausePromise = vid.pause(); 
			if (pausePromise !== undefined) {
				pausePromise.then(_ => {})
				.catch(error => {});
			};
		});

	});

</script>

